extends layout 

block content 
    h1(class='mb-4')= title
    p Bienvenido a Game Base, una plataforma para gestionar juegos y categorías.
    p Con esta aplicación puedes: 
    ul
        li Agregar nuevos juegos a tu inventario.
        li Actualizar los detalles de los juegos existentes.
        li Eliminar juegos que ya no necesitas.
        li Crear y gestionar categorías para organizar tus juegos.
    br
    p ¡Empieza a crear tu colección de juegos hoy con Game Base!